{% load i18n %}

{% block subject %}
Account activation on {{ site_name }}
{% endblock subject %}

{% block text_body %}
Спасибо за регистрацию в {{ site_name }}!

Пожалуйста, перейдите по ссылке ниже чтобы активировать аккаунт:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Спасибо, что используете {{ site_name }}

Команда {{ site_name }}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock html_body %}
